.container{
    width: 50%;
}
.btn-large{
    width: 100%;
}
.conInfo{
    justify-content: space-between;
}
.fas1{
    font-size: 20px;
    color: wheat;
}
.fa-file-signature{
    float: right;
}
.namespan{
    color: whitesmoke;
    margin-left: 5%;
}
